.container {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 999;
  padding: 0.5rem;

  > div {
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    padding: 0.5rem 1.5rem;
    gap: 1rem;
    background: linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
    box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
    border-radius: 8px;
  }

  span {
    max-width: 60%;
    font-size: 0.875rem;
  }

  a {
    text-decoration: underline;
    transition: color 0.2s;

    &:hover {
      color: var(--white);
    }
  }

  @media(max-width: 769px) {
    > div {
     display: block;
      
    > svg {
        width: 1.1rem;
        height: 1.1rem;
        margin: 0 0.5rem -0.1rem;
    }
    }

    span {
      max-width: 100%;
    }
  }
}

.actionButtons {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;

  @media(max-width: 769px) {
    justify-content: center;
    margin-top: 1rem;
  }
}

.acceptCookieButton {
  padding: 0.5rem 1rem;
  color: var(--cyan);
  font-size: 0.75rem;
  background: #384549;
  border: 0.5px solid var(--cyan);
  border-radius: 8px;
  white-space: nowrap;
  transition: all 0.2s;

  &:hover {
    background: var(--cyan);
    color: var(--text-button);
  }
}

.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  color: var(--gray-200);
  background: transparent;
  border: 0;
  border-radius: 8px;
  transition: all 0.2s;

  &:hover {
    background: rgba(255,255,255,0.1);
  }
}
