.languageSelection {
  padding: 0;
  min-width: 80px;
  position: relative;

  button {
    background: transparent;
    color: var(--gray-200);
    border-color: var(--gray-200);
    border-radius: 8px;
    padding: 3px 0;
    width: 100%;

    &:after {
      position: absolute;
      right: 5px;
      border-top-color: var(--gray-200);
      border-bottom-color: var(--gray-200) !important;
    }
  }

  span {
    font-size: 11px;
    padding: 0 3px;
  }

  ul {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(120px);
    color: var(--gray-200);
    border-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 0;

    li {
      padding: 10px auto;
      display: flex;
      align-items: center;

      &:hover,
      &:focus {
        background: var(--cyan);
        color: var(--text-button);
      }
    }
  }

  @media(max-width: 768px) {
    position: absolute;
    right: 45px;
  }
}