* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --white: #FFFFFF;
  --background: #00040F;
  --text-button: #00040E;
  --gray-100: #D9D9D9;
  --gray-200: #B3B4B7;
  --gray-500: #6D6D6D;
  --gray-700: #808080;
  --cyan: #00F6FF;
  --pink: #FF1CF7;
  --red-500: #DC2626;
  --red-100: rgba(220, 38, 38, 0.1);
}

::-webkit-scrollbar {
  width: 6px;
  height: 0;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #2D3146;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background: transparent;
}

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: url('/background.webp') no-repeat top left var(--background);
  background-size: cover;
  color: var(--gray-200);
  -webkit-font-smoothing: antialiased;

  @media(max-width: 769px) {
    background-position: top right;
  }
}

body, input, textarea, select, button {
  font: 400 1rem var(--poppins-font), sans-serif;
}

h1, h2, h3 {
  color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

main {
  max-width: 1440px;
  padding: 0 2rem;
  margin: auto;
  overflow: hidden;
}

@media(max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}