.title {
  font-weight: 600;
  font-size: 3rem;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: var(--white);
  margin-bottom: 1rem;

  @media(max-width: 769px) {
   font-size: 2.2rem;
   line-height: 130%;
  }
}