.headerContainer {
  height: 5rem;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 999;
  transition: all ease 0.4s;

  a {
    line-height: 0;
  }

  &.active {
    background: linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
  }
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
  height: 5rem;
  padding: 0 2rem;
}

.logo {
  @media(max-width: 768px) {
    img {
      width: 70%;
      z-index: 999;
      position: relative;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  > ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style-type: none;

    @media(max-width: 769px) {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--background);
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      visibility: hidden;
      width: 0;
  
      &.openMenu {
        width: 100%;
        visibility: revert;
        flex-direction: column;
        text-align: center;
  
        li {
          font-size: 2rem;
          padding: 1rem;
        }
      }
    }
  }

  .active {
    a {
      color: var(--white);
    }
  }

  a {
    transition: color 0.2s;

    &:hover {
      color: var(--white);
    }
  }
}

.navbarToggler {
  @media(max-width: 769px) {
    display: flex;
  }

  position: absolute;
  right: 2rem;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;

  > span {
    margin: auto;
    display: inline-block;
    width: 100%;
    height: 8%;
    background: var(--gray-200);
    transition: all 0.4s ease;
    transform-origin: left;
    align-self: center;

    &:nth-of-type(1), &:nth-of-type(5) {
      opacity: 0;
    }

    &:nth-of-type(2) {
      position: absolute;
      top: 0;
      right: 0;
      width: 70%;
    }

    &:nth-of-type(3) {
      transition-delay: 0.1s;
    }

    &:nth-of-type(4) {
      transition-delay: 0.1s;
      position: absolute;
      bottom: 0;
    }
  }

  &.active {
    span {
      width: 0;

      &:nth-of-type(1) {
        width: 100%;
        animation: hamburger4animTop 0.7s ease;
        animation-fill-mode: forwards;
        animation-delay: 0.3s;
      }

      &:nth-of-type(5) {
        width: 100%;
        animation: hamburger4animBottom 0.7s ease;
        animation-fill-mode: forwards;
        animation-delay: 0.3s;
      }
    }
  }
}

@keyframes hamburger4animTop {
  0% {
    display: none;
  }

  1% {
    display: inline-block;
  }

  60% {
    transform: none;
    opacity: 0;
  }

  100% {
    transform: rotate(45deg);
    opacity: 1;
  }
}

@keyframes hamburger4animBottom {
  0% {
    display: none;
  }

  1% {
    display: inline-block;
  }

  60% {
    transform: none;
    opacity: 0;
  }

  100% {
    transform: rotate(-45deg);
    opacity: 1;
  }
}