.headerContainer {
  height: 5rem;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 999;
  transition: all ease 0.4s;

  a {
    line-height: 0;
  }

  &.active {
    background: linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
  }
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
  height: 5rem;
  padding: 0 2rem;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style-type: none;

  .active {
    a {
      color: var(--white);
    }
  }

  a {
    transition: color 0.2s;

    &:hover {
      color: var(--white);
    }
  }
}